<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>开户列表</title>
  <header th:replace="header::html"></header>
</head>
<body class="pear-container">
<div class="layui-card">
  <div class="layui-card-body">
    <form class="layui-form" action="">
      <div class="layui-form-item">
        <div class="layui-input-inline" style="width:15%;">
          <input type="text" name="handler" placeholder="输入客户的名称或办理人" class="layui-input">
        </div>
        <div class="layui-input-inline" style="width:13%;">
          <input type="text" name="mobileTelephone" placeholder="输入客户电话或编码" class="layui-input">
        </div>
        <div class="layui-input-inline" style="width:110px;">
          <input type="text" name="start_date" class="layui-input" placeholder="开始时间" id="date_c1">
        </div>
        <div class="layui-input-inline" style="width:110px;">
          <input type="text" name="end_date" class="layui-input" placeholder="结束时间" id="date_c2">
        </div>

        <div class="layui-input-inline" style="width:110px;">
          <select name="status" id="status"></select>
        </div>

        <button id="Customer-query" class="pear-btn pear-btn-md pear-btn-primary" lay-submit="" lay-filter="Customer-query">
          <i class="layui-icon layui-icon-search"></i>
          查询
        </button>
        <button type="reset" class="pear-btn pear-btn-md">
          <i class="layui-icon layui-icon-refresh"></i>
          重置
        </button>
      </div>
    </form>
  </div>
</div>
</body>

<div class="layui-row layui-col-space15">
  <div class="layui-col-md12">
    <div class="layui-card">
      <div class="layui-card-body">
        <table id="Customer-table" lay-filter="Customer-table"></table>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="Customer-bar">
  {{#  if(d.status == 0){ }}
  <button id="fileDownload" class="layui-btn layui-btn layui-btn-xs" style="font-size: 12px !important;" value="{{d.materialOne}}" lay-event="accept">下载</button>
  <a class="layui-btn layui-btn-normal layui-btn-danger layui-btn-xs" lay-event="return">驳回</a>
  {{# }  else if(d.status == 1){ }}
  <a class="layui-btn pear-btn pear-btn-xs pear-btn-success pear-reply" lay-event="finish">完成</a>
  {{# }  else if(d.status == 2){ }}
  <a class="layui-btn layui-btn-normal layui-btn-danger layui-btn-xs" lay-event="return">驳回</a>
  {{#  } else if(d.status == 3){ }}
  <button id="fileDownload" class="layui-btn layui-btn layui-btn-xs" style="font-size: 12px !important;" value="{{d.materialOne}}" lay-event="accept">下载</button>
  {{#  } }}
</script>

<script type="text/html" id="CustomerStatus">
  {{#  if(d.status == 0){ }}
  <a class="layui-btn layui-btn-normal layui-btn-xs"><i class="layui-icon"></i>已提交</a>
  {{# }  else if(d.status == 1){ }}
  <a class="layui-btn pear-btn pear-btn-xs pear-btn-success pear-reply"><i class="layui-icon"></i>审核中</a>
  {{# }  else if(d.status == 2){ }}
  <a class="layui-btn layui-btn-normal layui-btn-danger layui-btn-xs"><i class="layui-icon"></i>已完结</a>
  {{# }  else if(d.status == 3){ }}
  <a class="layui-btn layui-btn-normal layui-btn-disabled layui-btn-xs"><i class="layui-icon"></i>已驳回</a>
  {{#  } else { }}
  <a class="layui-btn layui-btn-normal layui-btn-xs"><i class="layui-icon"></i>未知</a>
  {{#  } }}
</script>
<script type="text/html" id="createTime">
  {{layui.util.toDateString(d.createTime, 'yyyy-MM-dd')}}
</script>

<script type="text/html" id="customerPhone">
    {{d.taxNumber}},{{d.fixedTelephone}}
</script>
<script>
    layui.use(['table', 'form', 'jquery','laydate'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let laydate = layui.laydate;
        laydate.render({
            elem: '#date_c1',
        });
        laydate.render({
            elem: '#date_c2',
        });
        $('#status').append(new Option("状态", ""));
        $('#status').append(new Option("已提交", 0));
        $('#status').append(new Option("审核中", 1));
        $('#status').append(new Option("已完成", 2));
        $('#status').append(new Option("已驳回", 3));

        layui.form.render("select");
        form.val("Customer", {
            "status": 0,
        });

        let cols = [
            [
                {type:'checkbox'},
                // {title: 'id', field: 'id', align:'hide',style:'hide', width:1},
                {title: '客户名称', field: 'name', align:'center', width:110},
                {title: '地址', field: 'address', align:'center', width:150},
                {title: '办理人', field: 'handler', align:'center',width:110},
                {title: '电话/座机', templet: '#customerPhone', align:'center',width:118},
                {title: '身份证号', field: 'idCard', align:'center',width:128},
                {title: '税号', field: 'taxNumber', align:'center', width:97},
                {title: '状态', templet: '#CustomerStatus', align:'center', width:85},
                {title: '开户时间', templet: '#createTime', align:'center', width:109},
                {title: '申请编码', field: 'applicationCoding', align:'center', width:109},
                {title: '操作', toolbar: '#Customer-bar', align:'center', width:160}
            ]
        ]

        var tableIns = table.render({
            elem: '#Customer-table',
            url: projectName + '/pc/verify/customer/findList',
            page: true ,
            method: 'post',
            cols: cols ,
            skin: 'line',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports'],
        });

        table.on('tool(Customer-table)', function(obj) {
            if (obj.event === 'accept') {
                window.accept(obj);
            } else if (obj.event === 'finish') {
                window.finish(obj);
            } else if (obj.event === 'return') {
                window.return(obj);
            } else if (obj.event === 'remove') {
                window.remove(obj);
            }
        });

        table.on('toolbar(Customer-table)', function (obj) {
            if (obj.event === 'refresh') {
                window.refresh();
            }
        });
        form.on('submit(Customer-query)', function(data){
            var formData = data.field;
            var handler = formData.handler;
            var	mobileTelephone = formData.mobileTelephone;
            var	start_date = formData.start_date;
            var	end_date = formData.end_date;
            if(start_date != ''){
                start_date += " 00:00:00";
            }
            if(end_date != ''){
                end_date += " 23:59:59";
            }
            var	status = formData.status;
            tableIns.reload({
                page: {
                    curr: 1
                }
                , where: {
                    "status": status,
                    "mobileTelephone": mobileTelephone,
                    "handler": handler,
                    "startTime": start_date,
                    "endTime": end_date,
                }
                , url: projectName + '/pc/verify/customer/findList'
                , method: 'post'
            });
            return false;
        });

        function updateStatus(obj, status){
            $.ajax({
                url: projectName + "/pc/verify/customer/updateStatus",
                data: JSON.stringify({id: obj.data.id, status: status}),
                dataType: "json",
                contentType: 'application/json',
                type:'post',
                success:function(result){
                    if(result.success){
                        layer.msg(result.msg,{icon:1,time:600});
                    }else{
                        layer.msg(result.msg,{icon:2,time:1000});
                    }
                }
            })
            table.reload('Customer-table');
        }

        window.accept = function(obj){
            let hrefs = ($('#fileDownload').val() + "").split("??");
            for(let i = 0; i < hrefs.length; i++){
                window.open(hrefs[i]);
            }
            let loading = layer.load();
            updateStatus(obj,1)
            layer.close(loading);
        }

        window.finish = function(obj){
            layer.confirm('确定要完成吗?', {icon: 3, title:'提示'}, function(index){
                layer.close(index);
                let loading = layer.load();
                updateStatus(obj,2)
                layer.close(loading);
            });
        }

        window.return = function(obj){
            layer.confirm('确定要驳回吗?', {icon: 3, title:'提示'}, function(index){
                layer.close(index);
                let loading = layer.load();
                updateStatus(obj,3)
                layer.close(loading);
            });
        }
        window.refresh = function (param) {
            table.reload('Customer-table');
        }
    })
</script>
</body>
</html>