<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">
<meta content="#000000" name="theme-color">
<link th:href="@{/other/manifest.json}" rel="manifest">
<link th:href="@{/favicon.ico}" rel="shortcut icon">
<title>报装-网上报装管理系统</title>
<link rel="stylesheet" th:href="@{/css/main.65d94d6b.css}"/>
<script th:src="@{/component/layui/layui.all.js}"></script>
<script th:src="@{/js/main.ff40bfc6.js}"></script>
<style type="text/css">html, * {
  -moz-user-select: text !important;
}</style>
</head>
<body>
<div id="root">
  <div>
    <div class="top-menu">
      <li style="list-style: none;" class="application active"><button class="ant-btn" type="button"><span>报装申请</span></button></li>
      <li style="list-style: none;" class="xz"><button class="ant-btn" type="button"><span>报装须知</span></button></li>
      <li style="list-style: none;" class="bz"><button class="ant-btn" type="button"><span>我的报装</span></button></li>
    </div>
    <nay style="display: block;">
      <div class="wx-content">
        <form id="newspaperId" class="ant-form ant-form-horizontal wx-applyform">
          <div class="applyform-unit">
            <div class="ant-row ant-form-item">
              <div class="ant-col-6 ant-form-item-label"><label class="" for="applicationTime" title="申请时间">申请时间</label>
              </div>
              <div class="ant-col-18 ant-form-item-control-wrapper">
                <div class="ant-form-item-control has-success"><span class="ant-form-item-children"><input
                        class="ant-input ant-input-disabled"
                        data-__field="[object Object]"
                        data-__meta="[object Object]"
                        disabled=""
                        id="applicationTime"
                        placeholder="请输入"
                        type="text"
                        th:value="${createTime}"></span>
                </div>
              </div>
            </div>
            <div class="ant-row ant-form-item">
              <div class="ant-col-6 ant-form-item-label"><label class="" for="ProjectName" title="工程名称">工程名称</label></div>
              <div class="ant-col-18 ant-form-item-control-wrapper">
                <div class="ant-form-item-control"><span class="ant-form-item-children"><input class="ant-input"
                                                                                               data-__field="[object Object]"
                                                                                               data-__meta="[object Object]"
                                                                                               id="projectName"
                                                                                               placeholder="小区名称或公司名称"
                                                                                               type="text"
                                                                                               name="projectName"></span>
                </div>
              </div>
            </div>
            <div class="ant-row ant-form-item form-exception1">
              <div class="ant-col-6 ant-form-item-label"><label class="ant-form-item-required" for="contactPerson"
                                                                title="联系人">联系人</label></div>
              <div class="ant-col-18 ant-form-item-control-wrapper">
                <div class="ant-form-item-control"><span class="ant-form-item-children"><input class="ant-input"
                                                                                               data-__field="[object Object]"
                                                                                               data-__meta="[object Object]"
                                                                                               id="contactPerson"
                                                                                               placeholder="请输入联系人姓名"
                                                                                               type="text"
                                                                                               name="contactPerson"></span>
                </div>
              </div>
            </div>
            <div class="ant-row ant-form-item">
              <div class="ant-col-6 ant-form-item-label"><label class="ant-form-item-required" for="contactNumber"
                                                                title="联系电话">联系电话</label></div>
              <div class="ant-col-18 ant-form-item-control-wrapper">
                <div class="ant-form-item-control"><span class="ant-form-item-children"><input class="ant-input"
                                                                                               data-__field="[object Object]"
                                                                                               data-__meta="[object Object]"
                                                                                               id="contactNumber"
                                                                                               placeholder="11位手机号码"
                                                                                               type="text"
                                                                                               name="contactNumber"></span>
                </div>
              </div>
            </div>
            <div class="ant-row ant-form-item">
              <div class="ant-col-6 ant-form-item-label"><label class="ant-form-item-required" for="detailedAddress" title="详细地址">详细地址</label>
              </div>
              <div class="ant-col-18 ant-form-item-control-wrapper">
                <div class="ant-form-item-control"><span class="ant-form-item-children"><input
                        class="ant-input" data-__field="[object Object]" data-__meta="[object Object]" id="detailedAddress"
                        placeholder="如：xx街xx路xx号xx小区xx楼xx单元几零几" type="text" name="detailedAddress"></span></div>
              </div>
            </div>
            <div class="ant-row ant-form-item">
              <div class="ant-col-6 ant-form-item-label"><label class="" for="applicant" title="申请单位">申请单位</label>
              </div>
              <div class="ant-col-18 ant-form-item-control-wrapper">
                <div class="ant-form-item-control"><span class="ant-form-item-children"><input class="ant-input"
                                                                                               data-__field="[object Object]"
                                                                                               data-__meta="[object Object]"
                                                                                               id="applicant"
                                                                                               placeholder="申请单位"
                                                                                               type="text"
                                                                                               name="applicant"></span>
                </div>
              </div>
            </div>
            <div class="ant-row ant-form-item">
              <div class="ant-col-6 ant-form-item-label"><label class="ant-form-item-required" for="BesType" title="报装类型">报装类型</label>
              </div>
              <div class="ant-col-18 ant-form-item-control-wrapper">
                <div class="ant-form-item-control"><span class="ant-form-item-children"><div
                        class="ant-select ant-select-enabled"
                        id="BesType">
                <select id="newspaperType" name="newspaperType" style="border :1px solid #d9d9d9">
        <option value="0">个人或生产经营单位客户新装</option>
        <option value="1">新建住宅小区新装</option>
        <option value="2">一户一表改建</option>
        <option value="3">水表迁移工程</option>
        <option value="4">临时水安装工程</option>
      </select>
                </div></span>
                </div>
              </div>
            </div>
          </div>
          <p class="wx-upload-title">用水信息</p>
          <div class="applyform-unit">
            <div class="ant-row ant-form-item">
              <div class="ant-col-6 ant-form-item-label"><label class="ant-form-item-required" for="WaterUse"
                                                                title="用水类型">用水类型</label></div>
              <div class="ant-col-18 ant-form-item-control-wrapper">
                <div class="ant-form-item-control"><span class="ant-form-item-children"><div
                        class="ant-select ant-select-enabled"
                        id="WaterUse"></div></span>
                </div>
                <select id="typeOfWater" name="typeOfWater" style="border :1px solid #d9d9d9">
                  <option value="1">居民</option>
                  <option value="0">非居民</option>
                </select>
              </div>
            </div>
            <div class="ant-row ant-form-item">
              <div class="ant-col-6 ant-form-item-label"><label class="ant-form-item-required" for="numberOfWaterUsers"
                                                                title="用水户数">用水户数</label></div>
              <div class="ant-col-18 ant-form-item-control-wrapper">
                <div class="ant-form-item-control"><span class="ant-form-item-children"><input
                        class="ant-input" data-__field="[object Object]" data-__meta="[object Object]"
                        id="numberOfWaterUsers"
                        placeholder="居民阶梯水价用户请填写家庭户数" type="text" name="numberOfWaterUsers"></span></div>
              </div>
            </div>
            <div class="ant-row ant-form-item">
              <div class="ant-col-6 ant-form-item-label"><label class="ant-form-item-required"
                                                                for="estimatedAmountOfWater"
                                                                title="估计水量">估计水量</label></div>
              <div class="ant-col-18 ant-form-item-control-wrapper">
                <div class="ant-form-item-control"><span class="ant-form-item-children"><input class="ant-input"
                                                                                               data-__field="[object Object]"
                                                                                               data-__meta="[object Object]"
                                                                                               id="estimatedAmountOfWater"
                                                                                               placeholder="请输入每月估算用水量"
                                                                                               type="text"
                                                                                               name="estimatedAmountOfWater"></span>
                </div>
              </div>
            </div>
          </div>
          <p class="wx-upload-title">上传资料</p>
          <div class="applyform-unit">
            <div class="ant-row ant-form-item">
              <div class="ant-col-18 ant-form-item-control-wrapper">
                <div class="ant-form-item-control"><span class="ant-form-item-children"><div
                        class="applyform-upload"><span class=""><div
                        class="ant-upload ant-upload-select ant-upload-select-text"><span class="ant-upload" role="button" tabindex="0">
                </svg></i></button></span></div>
                <div class="ant-upload-list ant-upload-list-text"></div></span><div>所需文件:
                  <button type="button" style="display:none" class="layui-btn pear-btn-success pear-reply" id="material">
                    <i class="layui-icon" style="display:none">&#xe67c;</i>上传
                  </button>
                  <input type="hidden" name="material" id="materialUrl" value="">
                </div></div></span>
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="verification" th:value="${verification}">
          <div class="applyform-unit">
            <div class="ant-row ant-form-item form-exception2">
              <div class="ant-col-6 ant-form-item-label"><label class="" for="remark" title="备&nbsp;&nbsp;&nbsp;注">备&nbsp;&nbsp;&nbsp;注</label>
              </div>
              <div class="ant-col-18 ant-form-item-control-wrapper">
                <div class="ant-form-item-control"><span class="ant-form-item-children"><textarea class="ant-input"
                                                                                                  data-__field="[object Object]"
                                                                                                  data-__meta="[object Object]"
                                                                                                  id="remark"
                                                                                                  placeholder="有其他要求，可在此填写备注"
                                                                                                  rows="3"
                                                                                                  name="remark"></textarea></span>
                </div>
              </div>
            </div>
          </div>
          <div class="contact-info">如有疑问请咨询0536-2891562</div>
          <div class="wx-apply-footer">
            <!--          <button class="ant-btn footer-btn" type="button"><span>保 存</span></button>-->
            <button id="siteSubmit" class="ant-btn footer-btn ant-btn-primary"><span>提 交</span></button>
          </div>
        </form>
      </div>
    </nay>

    <nay style="display: none;">
      <div class="wx-content">
        <div><h3 style="text-align:center;"><strong><span style="color:#0094ff">客户供水报装业务</span></strong></h3><h4>
          <strong><span style="color:#333333">尊敬的客户：</span></strong></h4>
          <p class="p">欢迎您办理供水报装业务!请您仔细阅读以下内容，高密市孚日水务有限公司将为您提供便捷、高效的接水服务</p><h4><strong><span style="color:#333333">一、业务类型</span></strong>
          </h4>
          <p class="p">1.个人或生产经营单位客户新装；</p>
          <p class="p">2.新建住宅小区新装；</p>
          <p class="p">3.一户一表改造；</p>
          <p class="p">4.水表迁移工程；</p>
          <p class="p">5.临时水安装工程。</p><h4><strong><span style="color:#333333">二、客户侧流程</span></strong></h4>
          <p class="p">客户申请→资料审核→工程设计→客户缴费→工程施工→决算</p><h4><strong><span style="color:#333333">三、客户需提报的资料</span></strong>
          </h4>
          <p style="text-indent:2em;" class="MsoNormal">· 1.个人用户：上传本人身份证正反面照片一张。</p>
          <p style="text-indent:2em;" class="MsoNormal">· 2.单位用户：下载报装申请表填写、盖章并拍照上传；项目平面图、项目设计图作为附件上传。</p><h4><strong><span
                  style="color:#333333">四、客户用水报装业务须知</span></strong></h4>
          <p>
            1.可通过微信公众号“高密市孚日自来水”中的“用水服务一自来水报装一报装”模块填写申请用水信息，也可到高密市孚日水务有限公司客户服务中心办理。</p>
          <p class="p">2.新建住宅小区用户资料上传后，需将小区总平面图、给水设计图发送至gmfrsw@163.com，邮件标题请注明工程名称。</p>
          <p class="p">3.申请提报后可通过微信公众号“高密市孚日自来水”查询报装进度.</p>
          <p>4.工程预算详情可到水业公司服务大厅获取。</p>
          <p class="MsoNormal">5.工程款汇入账号：</p>
          <p class="MsoNormal">名称:高密市孚日水务有限公司</p>
          <p class="MsoNormal">税号:913707857489619874</p>
          <p class="MsoNormal">地址:高密市夏庄镇孚园后街一号</p>
          <p class="MsoNormal">电 话：0536-2891562</p>
          <p class="MsoNormal">开户行、账号:农行高密支行  15453001040007536</p>
          <p class="MsoNormal">也可到高密市孚日水务有限公司办理缴费业务。</p>
          <p>6.用户缴费节点若用户在2个月内没有进行缴费则该报装申请自动结束，结束后如想继续报装可重新提交报装申请</p>
          <p></p>
          <p><a th:href="@{/other/bz/applicationForInstallation.xls}" target="" download="报装申请表模板">报装申请表模板下载</a></p>
          <p><a th:href="@{/other/bz/engineeringDataConfessionRecord.xls}" target="" download="工程资料交底记录">工程资料交底记录</a></p>
          <p><a th:href="@{/other/bz/waterSupplyApplication.xls}" target="" download="供水报表">供水报表</a></p>
          <p><a th:href="@{/other/bz/communityBuildingInformationDisclosureRecord.xls}" target="" download="小区楼房信息交底记录">小区楼房信息交底记录</a></p>
          <p></p>
          <p></p>
          <p class="p"></p><h4><strong><span style="color:#333333">五、联系方式</span></strong></h4>
          <p class="p">咨询电话：0536-2891562。</p>
        </div>
      </div>
    </nay>

    <nay class="bz" style="display: none;">
      <div class="wx-content">
        <div class="top-tabs">
          <div class="tab-item r1 bes-tab-item-selected">
            <div onclick="updateBtnStatus(1)">进行中</div>
          </div>
          <div class="divider ant-divider ant-divider-vertical"></div>
          <div class="tab-item r2" onclick="updateBtnStatus(2)">已完成</div>
        </div>
        <div class="my-swipeable-views-style" style="overflow-x: hidden;">
          <div class="react-swipeable-view-container" style="flex-direction: row; transition: all 0s ease 0s; direction: ltr; display: flex; will-change: transform; transform: translate(0%, 0px);">

            <div aria-hidden="false" data-swipeable="true" style="width: 100%; flex-shrink: 0; overflow: auto;">
              <div>
<!--                <div style="display: none;">-->
                <div class="major">
                  <div class="query-titel-box"><span class="query-title">查询结果</span><span class="x">×</span></div>

                  <div class="wai" th:if="${newspapers != null}" th:each="n,index:${newspapers}">
                    <table>
                      <tbody >
                      <tr>
                        <td class="project-name"><i class="anticon anticon-appstore" style="color: rgb(0, 116, 217);">
                          <svg viewBox="64 64 896 896" class="" data-icon="appstore" width="1em" height="1em"
                               fill="currentColor" aria-hidden="true">
                            <path d="M464 144H160c-8.8 0-16 7.2-16 16v304c0 8.8 7.2 16 16 16h304c8.8 0 16-7.2 16-16V160c0-8.8-7.2-16-16-16zm-52 268H212V212h200v200zm452-268H560c-8.8 0-16 7.2-16 16v304c0 8.8 7.2 16 16 16h304c8.8 0 16-7.2 16-16V160c0-8.8-7.2-16-16-16zm-52 268H612V212h200v200zM464 544H160c-8.8 0-16 7.2-16 16v304c0 8.8 7.2 16 16 16h304c8.8 0 16-7.2 16-16V560c0-8.8-7.2-16-16-16zm-52 268H212V612h200v200zm452-268H560c-8.8 0-16 7.2-16 16v304c0 8.8 7.2 16 16 16h304c8.8 0 16-7.2 16-16V560c0-8.8-7.2-16-16-16zm-52 268H612V612h200v200z"></path>
                          </svg>
                        </i> [[${n.projectName}]]
                        </td>
                      </tr>
                      <tr>
                        <td class="applyTime">申请时间</td>
                        <td class="value applyTime">[[${#dates.format(n.applicationTime,'yyyy-MM-dd HH:mm:ss')}]]</td>
                      </tr>
                      <tr>
                        <td class="exception1">联系人</td>
                        <td class="value">[[${n.contactPerson}]]</td>
                      </tr>
                      <tr>
                        <td class="aa">申请编码</td>
                        <td> [[${n.applicationCoding}]]</td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="custom-divider"></div>
                    <div class="card-control">
                      <div class="progress">当前进度:
                        <span  th:if="${n.status == '0'}">提交申请</span>
                        <span  th:if="${n.status == '1'}">受理中</span>
                        <span  th:if="${n.status == '3'}">已退回</span>
                      </div>
<!--                      <div class="control-link"><i class="anticon anticon-clock-circle">-->
<!--                        <svg viewBox="64 64 896 896" class="" data-icon="clock-circle" width="1em" height="1em"-->
<!--                             fill="currentColor" aria-hidden="true">-->
<!--                          <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path>-->
<!--                          <path d="M686.7 638.6L544.1 535.5V288c0-4.4-3.6-8-8-8H488c-4.4 0-8 3.6-8 8v275.4c0 2.6 1.2 5 3.3 6.5l165.4 120.6c3.6 2.6 8.6 1.8 11.2-1.7l28.6-39c2.6-3.7 1.8-8.7-1.8-11.2z"></path>-->
<!--                        </svg>-->
<!--                      </i> 流程进度-->
<!--                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-footer">
                <div class="ant-divider ant-divider-horizontal ant-divider-with-text"><span
                        class="ant-divider-inner-text">我是有底线的 -_-||</span></div>
              </div>
            </div>

            <div aria-hidden="false" data-swipeable="true" style="width: 100%; flex-shrink: 0; overflow: auto;">
              <div>
                <div class="major">
                  <div class="query-titel-box"><span class="query-title">查询结果</span><span class="x">×</span></div>
                  <div class="wai" th:if="${finish != null}" th:each="n,index:${finish}">
                    <table>
                      <tbody>
                      <tr>
                        <td class="project-name"><i class="anticon anticon-appstore" style="color: rgb(0, 116, 217);">
                          <svg viewBox="64 64 896 896" class="" data-icon="appstore" width="1em" height="1em"
                               fill="currentColor" aria-hidden="true">
                            <path d="M464 144H160c-8.8 0-16 7.2-16 16v304c0 8.8 7.2 16 16 16h304c8.8 0 16-7.2 16-16V160c0-8.8-7.2-16-16-16zm-52 268H212V212h200v200zm452-268H560c-8.8 0-16 7.2-16 16v304c0 8.8 7.2 16 16 16h304c8.8 0 16-7.2 16-16V160c0-8.8-7.2-16-16-16zm-52 268H612V212h200v200zM464 544H160c-8.8 0-16 7.2-16 16v304c0 8.8 7.2 16 16 16h304c8.8 0 16-7.2 16-16V560c0-8.8-7.2-16-16-16zm-52 268H212V612h200v200zm452-268H560c-8.8 0-16 7.2-16 16v304c0 8.8 7.2 16 16 16h304c8.8 0 16-7.2 16-16V560c0-8.8-7.2-16-16-16zm-52 268H612V612h200v200z"></path>
                          </svg>
                        </i> [[${n.projectName}]]
                        </td>
                      </tr>
                      <tr>
                        <td class="applyTime">申请时间</td>
                        <td class="value applyTime">[[${#dates.format(n.applicationTime,'yyyy-MM-dd HH:mm:ss')}]]</td>
                      </tr>
                      <tr>
                        <td class="exception1">联系人</td>
                        <td class="value">[[${n.contactPerson}]]</td>
                      </tr>
                      <tr>
                        <td class="aa">申请编码</td>
                        <td> [[${n.applicationCoding}]]</td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="custom-divider"></div>
                    <div class="card-control">
                      <div class="progress">当前进度: <span  th:if="${n.status == '2'}">已完成</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-footer">
                <div class="ant-divider ant-divider-horizontal ant-divider-with-text"><span
                        class="ant-divider-inner-text">我是有底线的 -_-||</span></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </nay>

    <div style="display: none;">v2021.8.25 LiShengLiang</div>
  </div>
</div>
</body>
<script type="text/javascript">
    let url = '[[${projectName}]]';
    let $;
    layui.use(['jquery','upload'], function () {
        let upload = layui.upload;
        $ = layui.jquery;
        upload.render({
            elem: '#material'
            , url: url + '/bx/upload'
            , accept: 'file'
            , done: function (res) {
                if (res.result == 0) {
                    let url = $("#materialUrl").val();
                    if(url != ''){
                        $("#materialUrl").val(url + '??' + res.data)
                    } else {
                        $("#materialUrl").val(res.data)
                    }
                }
                layer.msg(res.message);
            }
            , error: function (res) {
                console.log(res);
            }
        });
    })
</script>

<script type="text/javascript">
    const nay = new Array();
    $("#siteSubmit").click(function () {
        if ($.trim($("#projectName").val()) === "") {
            layer.msg("工程名称不能为空")
            return false;
        }
        if($.trim($("#contactPerson").val()) === ""){
            layer.msg("联系人不能为空")
            return false;
        }
        if($.trim($("#contactNumber").val()) === ""){
            layer.msg("联系电话不能为空")
            return false;
        }
        if($.trim($("#detailedAddress").val()) === ""){
            layer.msg("地址不能为空")
            return false;
        }
        if($.trim($("#newspaperType").val()) === ""){
            layer.msg("申请类型不能为空")
            return false;
        }
        if($.trim($("#typeOfWater").val()) === ""){
            layer.msg("用水类型不能为空")
            return false;
        }
        let numberOfWaterUsers = $.trim($("#numberOfWaterUsers").val());
        if(numberOfWaterUsers === ""){
            layer.msg("用水户数不能为空")
            return false;
        }
        let estimatedAmountOfWater = $.trim($("#estimatedAmountOfWater").val());
        if(estimatedAmountOfWater === ""){
            layer.msg("估计水量不能为空")
            return false;
        }

        var r = /^[0-9]+.?[0-9]*$/;
        if(!r.test(numberOfWaterUsers)){
            layer.msg("用水户数只能是一个数")
            return false;
        }
        if(!r.test(estimatedAmountOfWater)){
            layer.msg("估计水量只能是一个数")
            return false;
        }
        if ($("#materialUrl").val().split("?").length < 2) {
            layer.msg("请至少上传两种文件")
            return false;
        }
        $.ajax({
            url: url + "/bx/newspaper/submit",
            data: new FormData(document.getElementById("newspaperId")),
            dataType : "json",
            contentType : false,
            processData : false,
            type: 'post',
            beforeSend: function () {
                $('#siteSubmit').attr("disabled", true);
            },
            success: function (result) {
                if (result.result == 0) {
                    location.href = url + "/bx/newspaper";
                } else {
                    console.log(result.message)
                }
            }
        })
        return false;
    });

    // 更改我的报装的样式
    function updateBtnStatus(obj) {
        if(obj == 1){
            $(".react-swipeable-view-container")[0].style = "flex-direction: row; transition: transform 0.35s cubic-bezier(0.15, 0.3, 0.25, 1) 0s; direction: ltr; display: flex; will-change: transform; transform: translate(0%, 0px);";
            $(".r1")[0].className = "tab-item r1 bes-tab-item-selected";
            $(".r2")[0].className = "tab-item r2";

        } else if(obj == 2){
            $(".react-swipeable-view-container")[0].style = "flex-direction: row; transition: transform 0.35s cubic-bezier(0.15, 0.3, 0.25, 1) 0s; direction: ltr; display: flex; will-change: transform; transform: translate(-100%, 0px);";
            $(".r1")[0].className = "tab-item r1";
            $(".r2")[0].className = "tab-item r2 bes-tab-item-selected";
        }
    }

    window.onload = function(){
        // 获取元素
        const lis = document.querySelectorAll('li');
        const pNodes = document.querySelectorAll('nay')
        if(nay.length == 0){
            nay[0] = lis[0];
            nay[1] = pNodes[0];
            nay[2] = lis[2];
            nay[3] = pNodes[2];
        }
        // 绑定点击事件
        for(let i =0 ; i<lis.length; i++){
            // 这一步是需要设置一个自定义属性索引下标
            lis[i].setAttribute('index',i);
            lis[i].onclick = function(){
                for(let i = 0; i<lis.length; i++){
                    lis[i].className = '';
                }
                this.className = 'active';
                // 在这里获取索引下标
                let index = this.getAttribute('index');
                for(let i = 0; i<pNodes.length; i++){
                    pNodes[i].style.display = 'none';
                }
                pNodes[index].style.display = 'block';
            }
        }
    }
</script>
</html>