<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1.0, user-scalable=no" name="viewport"/>
  <meta content="yes" name=" apple-mobile-web-app-capable"/>
  <meta content="no" name="apple-touch-fullscreen"/>
  <meta content="black" name=" apple-mobile-web-app-status-bar-style"/>
  <meta content="telephone=no" name="format-detection"/>

  <title>报装申请</title>
  <script th:src="@{/js/base.js}"></script>
  <link rel="stylesheet" th:href="@{/css/cs2.css}"/>
  <link rel="stylesheet" href="////at.alicdn.com/t/font_799009_3wbyz9blkgq.css"/>

</head>
<body>
<form th:action="@{/bx/submit}">
  <section id="notice">
    <div flex="main:left cross:center">
      <div class="line"></div>
      <span>基础资料</span>
    </div>
  </section>
  <section id="details">
    <div flex="main:left cross:center">
						<span>
							申请时间：
						</span>
      <input id="createtime" type="datetime-local" name="applicationTime">
    </div>
    <div flex="main:left cross:center">
						<span>
							工程名称：
						</span>
      <input id="projectname" type="text" name="projectName">
    </div>
    <div flex="main:left cross:center">
						<span>
							联系人：
						</span>
      <input id="username" type="text" name="contactPerson">
    </div>
    <div flex="main:left cross:center">
						<span>
							联系电话：
						</span>
      <input id="phone" type="text" name="contactNumber">
    </div>
    <div flex="main:left cross:center">
						<span>
							详细地址：
						</span>
      <input id="address" type="text" name="address">
    </div>
    <div flex="main:left cross:center">
						<span>
							申请单位：
						</span>
      <input id="unit" type="text" name="applicant">
    </div>
    <div flex="main:left cross:center">
						<span>
							申报类型：
						</span>
      <select id="newspaperType" name="newspaperType">
        <option value="0">个人或生产经营单位客户新装</option>
        <option value="1">新建住宅小区新装</option>
        <option value="2">一户一表改建</option>
        <option value="3">水表迁移工程</option>
        <option value="4">临时水安装工程</option>
      </select>
    </div>
  </section>
  <section id="notice">
    <div flex="main:left cross:center">
      <div class="line"></div>
      <span>用水信息</span>
    </div>
  </section>
  <section id="details">
    <div flex="main:left cross:center">
						<span>
							用水类型：
						</span>
      <select id="ys-type" name="typeOfWater">
        <option value="1">居民</option>
        <option value="0">非居民</option>
      </select>
    </div>
    <div flex="main:left cross:center">
						<span>
							用水户数：
						</span>
      <input id="man-num" type="text" name="numberOfWaterUsers">
    </div>
    <div flex="main:left cross:center">
						<span>
							估计水量：
						</span>
      <input id="dosage" type="text" name="estimatedAmountOfWater">
    </div>
  </section>
  <section id="notice">
    <div flex="main:left cross:center">
      <div class="line"></div>
      <span>其他材料</span>
    </div>
  </section>
  <section id="details">
    <div flex="main:left cross:center">
						<span>
							所需文件：
						</span>
      <input id="file-info" type="file" name="material">
    </div>
    <div id="beizhu-div">
						<span>
							备注：
						</span>
      <textarea id="beizhu" rows="4" cols="30" placeholder="这里输入备注" name="remark">
							
						</textarea>
    </div>
  </section>

  <div class="wx-apply-footer">
    <button type="button" class="ant-btn footer-btn"><span>保 存</span></button>
    <button type="button" class="ant-btn footer-btn ant-btn-primary"><span>提 交</span></button>
  </div>
</form>
</body>
</html>
