body{  /*不用加宽和高*/
    background-color: #efeff4;
    padding-bottom: 1.16rem;
    padding-top: 42px; /*让最下面商品列表往上拉的时候，最底下与工具栏之间有一个间距，而不是黏在一起*/
	font-size: 0.28rem;
}
#notice{  margin: 0.16rem  0;  }
#notice>div{
    width: 100%;
    height: 0.8rem;
    background-color: white;
}
#notice .line{
    width: 3px;
    height: 16px;
    border-radius: 3px;
    background-color: #3285ff;
    margin: 0 6px 0 18px;
}
#notice span{
    font-size: 0.28rem;
    color: #3f3f3f;
	width: 5rem;
}

#details {  margin: 0.16rem  0; }
#details>div{
	padding: 0.625rem,0rem,0.625rem,0rem;
    width: 100%;
    background-color: white;
    height: 0.8rem;
}

#details span{
    font-size: 0.28rem;
    color: #3f3f3f;
	 padding: 2px 10px;
	 width: 4rem;
}


input{
	width: 12.5rem;
		
}

select{
	width: 12.5rem;
		
}

#details #beizhu-div{
	padding: 0.625rem,0rem,0.625rem,0rem;
	width: 100%;
	height: 2.4rem;
	background-color: white;
}
#beizhu-div>div{
	padding: 0.625rem,0rem,0.625rem,0rem;
	width: 100%;
	height: 2rem;
	background-color: white;
}
#beizhu-div textarea{
	border:solid 1px #000000;
	/* border-radius:20px; */
}