<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>人员列表</title>
  <header th:replace="header::html"></header>
</head>
<body class="pear-container">
<div class="layui-card">
  <div class="layui-card-body">
    <form class="layui-form">
      <div class="layui-form-item">
        <div class="layui-input-inline">
          <input type="text" name="phone" placeholder="电话" class="layui-input">
        </div>
        <div class="layui-input-inline">
          <input type="text" name="userName" placeholder="用户名" class="layui-input">
        </div>
        <button id="user-query" class="pear-btn pear-btn-md pear-btn-primary" lay-submit="" lay-filter="user-query">
          <i class="layui-icon layui-icon-search"></i>
          查询
        </button>

        <button type="reset" class="pear-btn pear-btn-md">
          <i class="layui-icon layui-icon-refresh"></i>
          重置
        </button>
      </div>
    </form>
  </div>
</div>
<div class="layui-row layui-col-space15">
  <div class="layui-col-md15">
    <div class="layui-card">
      <div class="layui-card-body">
        <table id="user-table" lay-filter="user-table"></table>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="user-toolbar">
  <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
    新增人员
  </button>
</script>

<script type="text/html" id="user-bar">
  <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
  <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove" style=" {{ (d.status == 0) ? 'display: ' : 'display: none' }}"><i class="layui-icon layui-icon-delete"></i></button>
</script>

<script type="text/html" id="user-status">
  <input type="checkbox" name="status" value="{{d.userId}}" lay-skin="switch" lay-text="启用|禁用" mid="{{d.userId}}"
         lay-filter="user-status" {{ d.status== '1' ? 'checked' : '' }}>
</script>

<script type="text/html" id="user-createTime">
  {{layui.util.toDateString(d.createTime, 'yyyy-MM-dd')}}
</script>

<script>
    layui.use(['table', 'form', 'jquery'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let cols = [
            [
                {title: '账号', field: 'userName', align: 'center', width: 200, templet: "#sfzBtn"},
                {title: '地址', field: 'address', width: 465, align: 'center'},
                {title: '电话', field: 'phone', align: 'center', width: 110},
                {title: '启用', field: 'status', align: 'center', templet: '#user-status', width: 175},
                {title: '添加时间', field: 'createTime', align: 'center', templet: '#user-createTime', width: 149},
                {title: '操作', toolbar: '#user-bar', align: 'center', width: 140}
            ]
        ]

        var tableIns = table.render({
            elem: '#user-table',
            url: projectName + '/pc/user',
            page: true,
            cols: cols,
            skin: 'line',
            toolbar: '#user-toolbar',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        });

        table.on('tool(user-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            }
        });

        table.on('toolbar(user-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            }
        });

        form.on('switch(user-status)', function (obj) {
            layer.confirm(obj.elem.checked ? '确定要启用该用户吗' : '确定要禁用该用户吗', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                var status = obj.elem.checked ? 1 : 0;
                var data = {
                    userId: obj.value,
                    status: status
                }
                let loading = layer.load();
                $.ajax({
                    url: projectName + '/pc/user/changeStatus',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json',
                    type: 'put',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000});
                            table.reload('user-table');
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        });
        form.on('submit(user-query)', function (data) {
            var formData = data.field;
            var userName = formData.userName;
            var phone = formData.phone;
            tableIns.reload({
                page: {
                    curr: 1
                }
                , where: {
                    userName: userName,
                    phone: phone
                }
                , url: projectName+  '/pc/user'
                , method: 'get'
            });
            return false;
        });

        window.add = function () {
            layer.open({
                type: 2,
                title: '新增人员',
                shade: 0.1,
                maxmin: true,
                area: ['45%', '55%'],
                content: projectName + '/pc/user/add'
            });
        }
        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '编辑人员信息',
                shade: 0.1,
                maxmin: true,
                area: ['75%', '85%'],
                content: projectName+  '/pc/user/edit/' + obj.data['userId']
            });
        }
        window.remove = function (obj) {
            layer.confirm('确定要删除该用户', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: projectName + " /pc/user?userId=" + obj.data['userId'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000});
                            table.reload('user-table');
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }
        window.refresh = function (param) {
            table.reload('user-table');
        }
    })
</script>
</body>
</html>