<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>修改密码</title>
  <header th:replace="header::html"></header>
</head>
<body>
<form class="layui-form">
  <div class="mainBox">
    <div class="main-container">
      <div class="main-container">
        <input type="hidden" name="userId" th:value="${user.userId}">
        <div class="layui-form-item">
          <label class="layui-form-label">
            <span style="color: red">*</span>新密码
          </label>
          <div class="layui-input-block">
            <input type="password" name="password1" lay-verify="required" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">
            <span style="color: red">*</span>确认密码
          </label>
          <div class="layui-input-block">
            <input type="password" name="password2" lay-verify="required" autocomplete="off" class="layui-input">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="bottom">
    <div class="button-container">
      <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit lay-filter="user-edit">
        修改
      </button>
      <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
        重置
      </button>
    </div>
  </div>
</form>
<script>
    layui.use(['form', 'jquery'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        form.on('submit(user-edit)', function (data) {
            if(data.field.password1 == data.field.password2){
                $.ajax({
                    url: '/api/user/editPassword',
                    data: JSON.stringify({"userId": data.field.userId,"password": data.field.password1}),
                    dataType: 'json',
                    contentType: 'application/json',
                    type: 'put',
                    success: function (result) {
                        if (result.code == 0) {
                            layer.msg(result.msg, {icon: 1, time: 600}, function () {
                                parent.layer.close(parent.layer.getFrameIndex(window.name));
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 600});
                        }
                    }
                })
            } else {
                return layer.msg('两次输入的密码不一致');
            }
            return false;
        });
    })
</script>
<script>
</script>
</body>
</html>
